* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0e0e0e;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* text-align: -webkit-center;
    border: 1px solid #fff;
    overflow: hidden; */
    transform: perspective(500px) scale3d(1, 1, 1) rotateX(40deg);
}

p {
    text-align: center;
    margin-bottom: 30px;
}

.text-starwars {
    text-align: start;
    height: 900px;
    width: 1005px;
    font-size: 50px;
    font-weight: 700;
    color: gold;
    /* overflow: hidden; */
    animation: starwars 30s infinite linear;
}

@keyframes starwars {
    0% {
        transform: translateY(700px);
    }
    100% {
        transform: translateY(-1000px);
    }
}